.interna-sobre {
  background: url('../img/bg-contato.jpg') no-repeat center; 
}

.introducao-interna {
  width: 100%;
  background: url("../img/bg-contato.jpg");
  background-size: cover;
  margin-top: 92px;
  padding-top: 30px;
  height: 160px;
  text-align: center;
  color: white;
}

.introducao-interna h1 {
  font-size: 36px;
  line-height: 40px;
  font-weight: bold;
  text-transform: uppercase;
}

.introducao-interna h1:after {
  content: "";
  display: block;
  width: 60px;
  height: 3px;
  background: white;
  margin: 10px auto;
}

.missao-sobre {
  padding-top: 60px;
}

.missao-sobre p {
  font-size: 18px;
  line-height: 25px;
  margin-bottom: 1em;
  padding-right: 60px;
}

.missao-sobre ul li {
  font-family: Georgia, 'Times New Roman', Times, serif;
  font-size: 18px;
  line-height: 30px;
}

.foto-equipe {
  padding-top: 20px;
}

.subtitulo-interno {
  font-weight: bold;
  font-size: 24px;
  line-height: 30px;
  letter-spacing: .1em;
  text-transform: uppercase;
  color: black;
  margin-bottom: 20px;
}

.subtitulo-interno::after {
  content: "";
  display: block;
  width: 60px;
  height: 3px;
  background: black;
  margin: 10px 0;
}

.menu-ativo {
  color: white !important;
}

.interna-sobre {
  background: url('../img/bg-produtos.jpg') no-repeat center; 
}

.introducao-interna {
  width: 100%;
  background: url("../img/bg-produtos.jpg");
  background-size: cover;
  margin-top: 92px;
  padding-top: 30px;
  height: 160px;
  text-align: center;
  color: white;
}

.introducao-interna h1 {
  font-size: 36px;
  line-height: 40px;
  font-weight: bold;
  text-transform: uppercase;
}

.introducao-interna h1:after {
  content: "";
  display: block;
  width: 60px;
  height: 3px;
  background: white;
  margin: 10px auto;
}

.missao-sobre {
  padding-top: 60px;
}

.missao-sobre p {
  font-size: 18px;
  line-height: 25px;
  margin-bottom: 1em;
  padding-right: 60px;
}

.missao-sobre ul li {
  font-family: Georgia, 'Times New Roman', Times, serif;
  font-size: 18px;
  line-height: 30px;
}

.foto-equipe {
  padding-top: 20px;
}

.subtitulo-interno {
  font-weight: bold;
  font-size: 24px;
  line-height: 30px;
  letter-spacing: .1em;
  text-transform: uppercase;
  color: black;
  margin-bottom: 20px;
}

.subtitulo-interno::after {
  content: "";
  display: block;
  width: 60px;
  height: 3px;
  background: black;
  margin: 10px 0;
}

.menu-ativo {
  color: white !important;
}

.produto-item {
  padding-top: 60px;
}

.produto-item h2 {
  font-size: 36px;
  color: white;
  text-transform: uppercase;
  letter-spacing: .1em;
  font-weight: bold;
  position: relative;
  top: -180px;
  text-align: center;
  margin-bottom: -56px;
}

.produto-item h2::after, .produto-item h2::before {
  content: "";
  display: block;
  width: 60px;
  height: 3px;
  background: white;
  margin: 6px auto 8px auto;
}

.produto-icone {
  background: black;
  padding: 70px 0;
}

.produto-icone img {
  margin: 0 auto;
}

.produtos-info {
  background: black;
}

.produtos-info p {
  color: white;
  padding: 30px 40px;
  font-size: 18px;
  line-height: 25px;
  height: 180px;
}

.produtos-info ul li {
  background: #FEC63E;
  text-transform: uppercase;
  font-size: 18px;
  font-weight: bold;
  line-height: 20px;
  float: left;
  width: 229px;  
  height: 49px;
  text-align: center;
  padding-top: 16px;
}

.produtos-info ul li:nth-child(1), .produtos-info ul li:nth-child(2) {
  margin-bottom: 2px;
}

.produtos-info ul li:nth-child(even) {
  margin-left: 2px;
}

.contato {
  padding: 40px 0;
}

.form {
  padding-right: 60px;
}

.form label {
  display: block;
  font-family: Georgia, 'Times New Roman', Times, serif;
  font-size: 18px;
  line-height: 25px;
}

.form input {
  display: block;
  width: 100%;
  border: 4px solid #FEC63E;
  background: none;
  padding: 7px 10px;
  margin-bottom: 10px;
  outline: none;
  font-size: 14px;
  font-family: Georgia, 'Times New Roman', Times, serif;
}

.form textarea {
  display: block;
  width: 100%;
  height: 120px;
  border: 4px solid #FEC63E;
  background: none;
  padding: 7px 10px;
  margin-bottom: 20px;
  outline: none;
  font-size: 14px;
  font-family: Georgia, 'Times New Roman', Times, serif;
}

.form button {
  background: none;
  padding: 7px 40px;
}

.form button:hover {
  border-color: black;
  color: black;
  cursor: pointer;
}

.orcamento-dados h3 {
  font-size: 18px;
  text-transform: uppercase;
  line-height: 25px;
  font-weight: bold;
}

.orcamento-dados p {
  font-size: 18px;
  font-family: Georgia, 'Times New Roman', Times, serif;
  line-height: 25px;
}

.orcamento-dados p:nth-of-type(4) {
  padding-bottom: 40px;
}

.orcamento-dados ul {
  padding-top: 20px;
  padding-right: 60px;
}

.orcamento-dados ul li:hover {
  border-color: black;
  filter: brightness(0%);
}

.escolha-especificacoes {
  margin: 8px 0;
}

.mapa {
  padding-bottom: 60px;
}
